[submodule "asuka"]
	path = asuka
	url = git@github.com:ayanami1ei/asuka.git
[submodule "book"]
	path = book
	url = git@github.com:ayanami1ei/ayanami-language-book.git
[submodule "std"]
	path = std
	url = git@github.com:ayanami1ei/Ayanami-std.git
	branch = main
